@layer tokens {
    :where(:root, :host) {
  --colors-black-100: black;
  --colors-custom-gray-100: #a9a9a9;
  --colors-dark: #081820;
  --colors-sprite-motion-gb-50: #081820;
  --colors-sprite-motion-gb-51: #346856;
  --colors-sprite-motion-gb-52: #88c070;
  --colors-sprite-motion-gb-53: #e0f8d0;
  --fonts-sprite-motion: mrpixel, 'var(--font-mrpixel)', monospace
}
  }
  