@layer reset, base, tokens, recipes, utilities;

@layer base{
  :root {
    --made-with-panda: '🐼';
}

  *,::before,::after,::backdrop {
    --blur: /*-*/ /*-*/;
    --brightness: /*-*/ /*-*/;
    --contrast: /*-*/ /*-*/;
    --grayscale: /*-*/ /*-*/;
    --hue-rotate: /*-*/ /*-*/;
    --invert: /*-*/ /*-*/;
    --saturate: /*-*/ /*-*/;
    --sepia: /*-*/ /*-*/;
    --drop-shadow: /*-*/ /*-*/;
    --backdrop-blur: /*-*/ /*-*/;
    --backdrop-brightness: /*-*/ /*-*/;
    --backdrop-contrast: /*-*/ /*-*/;
    --backdrop-grayscale: /*-*/ /*-*/;
    --backdrop-hue-rotate: /*-*/ /*-*/;
    --backdrop-invert: /*-*/ /*-*/;
    --backdrop-opacity: /*-*/ /*-*/;
    --backdrop-saturate: /*-*/ /*-*/;
    --backdrop-sepia: /*-*/ /*-*/;
    --gradient-from-position: /*-*/ /*-*/;
    --gradient-to-position: /*-*/ /*-*/;
    --gradient-via-position: /*-*/ /*-*/;
    --scroll-snap-strictness: proximity;
    --border-spacing-x: 0;
    --border-spacing-y: 0;
    --translate-x: 0;
    --translate-y: 0;
    --rotate: 0;
    --rotate-x: 0;
    --rotate-y: 0;
    --skew-x: 0;
    --skew-y: 0;
    --scale-x: 1;
    --scale-y: 1;
}
}

@layer tokens{
  :where(:root, :host) {
    --aspect-ratios-square: 1 / 1;
    --aspect-ratios-landscape: 4 / 3;
    --aspect-ratios-portrait: 3 / 4;
    --aspect-ratios-wide: 16 / 9;
    --aspect-ratios-ultrawide: 18 / 5;
    --aspect-ratios-golden: 1.618 / 1;
    --borders-none: none;
    --easings-default: cubic-bezier(0.4, 0, 0.2, 1);
    --easings-linear: linear;
    --easings-in: cubic-bezier(0.4, 0, 1, 1);
    --easings-out: cubic-bezier(0, 0, 0.2, 1);
    --easings-in-out: cubic-bezier(0.4, 0, 0.2, 1);
    --durations-fastest: 50ms;
    --durations-faster: 100ms;
    --durations-fast: 150ms;
    --durations-normal: 200ms;
    --durations-slow: 300ms;
    --durations-slower: 400ms;
    --durations-slowest: 500ms;
    --radii-xs: 0.125rem;
    --radii-sm: 0.25rem;
    --radii-md: 0.375rem;
    --radii-lg: 0.5rem;
    --radii-xl: 0.75rem;
    --radii-2xl: 1rem;
    --radii-3xl: 1.5rem;
    --radii-full: 9999px;
    --font-weights-thin: 100;
    --font-weights-extralight: 200;
    --font-weights-light: 300;
    --font-weights-normal: 400;
    --font-weights-medium: 500;
    --font-weights-semibold: 600;
    --font-weights-bold: 700;
    --font-weights-extrabold: 800;
    --font-weights-black: 900;
    --line-heights-none: 1;
    --line-heights-tight: 1.25;
    --line-heights-snug: 1.375;
    --line-heights-normal: 1.5;
    --line-heights-relaxed: 1.625;
    --line-heights-loose: 2;
    --letter-spacings-tighter: -0.05em;
    --letter-spacings-tight: -0.025em;
    --letter-spacings-normal: 0em;
    --letter-spacings-wide: 0.025em;
    --letter-spacings-wider: 0.05em;
    --letter-spacings-widest: 0.1em;
    --font-sizes-2xs: 0.5rem;
    --font-sizes-xs: 0.75rem;
    --font-sizes-sm: 0.875rem;
    --font-sizes-md: 1rem;
    --font-sizes-lg: 1.125rem;
    --font-sizes-xl: 1.25rem;
    --font-sizes-2xl: 1.5rem;
    --font-sizes-3xl: 1.875rem;
    --font-sizes-4xl: 2.25rem;
    --font-sizes-5xl: 3rem;
    --font-sizes-6xl: 3.75rem;
    --font-sizes-7xl: 4.5rem;
    --font-sizes-8xl: 6rem;
    --font-sizes-9xl: 8rem;
    --shadows-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --shadows-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --shadows-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadows-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --shadows-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --shadows-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --shadows-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
    --blurs-sm: 4px;
    --blurs-base: 8px;
    --blurs-md: 12px;
    --blurs-lg: 16px;
    --blurs-xl: 24px;
    --blurs-2xl: 40px;
    --blurs-3xl: 64px;
    --spacing-0: 0rem;
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;
    --spacing-5: 1.25rem;
    --spacing-6: 1.5rem;
    --spacing-7: 1.75rem;
    --spacing-8: 2rem;
    --spacing-9: 2.25rem;
    --spacing-10: 2.5rem;
    --spacing-11: 2.75rem;
    --spacing-12: 3rem;
    --spacing-14: 3.5rem;
    --spacing-16: 4rem;
    --spacing-20: 5rem;
    --spacing-24: 6rem;
    --spacing-28: 7rem;
    --spacing-32: 8rem;
    --spacing-36: 9rem;
    --spacing-40: 10rem;
    --spacing-44: 11rem;
    --spacing-48: 12rem;
    --spacing-52: 13rem;
    --spacing-56: 14rem;
    --spacing-60: 15rem;
    --spacing-64: 16rem;
    --spacing-72: 18rem;
    --spacing-80: 20rem;
    --spacing-96: 24rem;
    --spacing-0\.5: 0.125rem;
    --spacing-1\.5: 0.375rem;
    --spacing-2\.5: 0.625rem;
    --spacing-3\.5: 0.875rem;
    --sizes-0: 0rem;
    --sizes-1: 0.25rem;
    --sizes-2: 0.5rem;
    --sizes-3: 0.75rem;
    --sizes-4: 1rem;
    --sizes-5: 1.25rem;
    --sizes-6: 1.5rem;
    --sizes-7: 1.75rem;
    --sizes-8: 2rem;
    --sizes-9: 2.25rem;
    --sizes-10: 2.5rem;
    --sizes-11: 2.75rem;
    --sizes-12: 3rem;
    --sizes-14: 3.5rem;
    --sizes-16: 4rem;
    --sizes-20: 5rem;
    --sizes-24: 6rem;
    --sizes-28: 7rem;
    --sizes-32: 8rem;
    --sizes-36: 9rem;
    --sizes-40: 10rem;
    --sizes-44: 11rem;
    --sizes-48: 12rem;
    --sizes-52: 13rem;
    --sizes-56: 14rem;
    --sizes-60: 15rem;
    --sizes-64: 16rem;
    --sizes-72: 18rem;
    --sizes-80: 20rem;
    --sizes-96: 24rem;
    --sizes-0\.5: 0.125rem;
    --sizes-1\.5: 0.375rem;
    --sizes-2\.5: 0.625rem;
    --sizes-3\.5: 0.875rem;
    --sizes-xs: 20rem;
    --sizes-sm: 24rem;
    --sizes-md: 28rem;
    --sizes-lg: 32rem;
    --sizes-xl: 36rem;
    --sizes-2xl: 42rem;
    --sizes-3xl: 48rem;
    --sizes-4xl: 56rem;
    --sizes-5xl: 64rem;
    --sizes-6xl: 72rem;
    --sizes-7xl: 80rem;
    --sizes-8xl: 90rem;
    --sizes-prose: 65ch;
    --sizes-full: 100%;
    --sizes-min: min-content;
    --sizes-max: max-content;
    --sizes-fit: fit-content;
    --sizes-breakpoint-sm: 640px;
    --sizes-breakpoint-md: 768px;
    --sizes-breakpoint-lg: 1024px;
    --sizes-breakpoint-xl: 1280px;
    --sizes-breakpoint-2xl: 1536px;
    --animations-spin: spin 1s linear infinite;
    --animations-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
    --animations-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --animations-bounce: bounce 1s infinite;
    --colors-current: currentColor;
    --colors-white: #fff;
    --colors-transparent: rgb(0 0 0 / 0);
    --colors-rose-50: #fff1f2;
    --colors-rose-100: #ffe4e6;
    --colors-rose-200: #fecdd3;
    --colors-rose-300: #fda4af;
    --colors-rose-400: #fb7185;
    --colors-rose-500: #f43f5e;
    --colors-rose-600: #e11d48;
    --colors-rose-700: #be123c;
    --colors-rose-800: #9f1239;
    --colors-rose-900: #881337;
    --colors-rose-950: #4c0519;
    --colors-pink-50: #fdf2f8;
    --colors-pink-100: #fce7f3;
    --colors-pink-200: #fbcfe8;
    --colors-pink-300: #f9a8d4;
    --colors-pink-400: #f472b6;
    --colors-pink-500: #ec4899;
    --colors-pink-600: #db2777;
    --colors-pink-700: #be185d;
    --colors-pink-800: #9d174d;
    --colors-pink-900: #831843;
    --colors-pink-950: #500724;
    --colors-fuchsia-50: #fdf4ff;
    --colors-fuchsia-100: #fae8ff;
    --colors-fuchsia-200: #f5d0fe;
    --colors-fuchsia-300: #f0abfc;
    --colors-fuchsia-400: #e879f9;
    --colors-fuchsia-500: #d946ef;
    --colors-fuchsia-600: #c026d3;
    --colors-fuchsia-700: #a21caf;
    --colors-fuchsia-800: #86198f;
    --colors-fuchsia-900: #701a75;
    --colors-fuchsia-950: #4a044e;
    --colors-purple-50: #faf5ff;
    --colors-purple-100: #f3e8ff;
    --colors-purple-200: #e9d5ff;
    --colors-purple-300: #d8b4fe;
    --colors-purple-400: #c084fc;
    --colors-purple-500: #a855f7;
    --colors-purple-600: #9333ea;
    --colors-purple-700: #7e22ce;
    --colors-purple-800: #6b21a8;
    --colors-purple-900: #581c87;
    --colors-purple-950: #3b0764;
    --colors-violet-50: #f5f3ff;
    --colors-violet-100: #ede9fe;
    --colors-violet-200: #ddd6fe;
    --colors-violet-300: #c4b5fd;
    --colors-violet-400: #a78bfa;
    --colors-violet-500: #8b5cf6;
    --colors-violet-600: #7c3aed;
    --colors-violet-700: #6d28d9;
    --colors-violet-800: #5b21b6;
    --colors-violet-900: #4c1d95;
    --colors-violet-950: #2e1065;
    --colors-indigo-50: #eef2ff;
    --colors-indigo-100: #e0e7ff;
    --colors-indigo-200: #c7d2fe;
    --colors-indigo-300: #a5b4fc;
    --colors-indigo-400: #818cf8;
    --colors-indigo-500: #6366f1;
    --colors-indigo-600: #4f46e5;
    --colors-indigo-700: #4338ca;
    --colors-indigo-800: #3730a3;
    --colors-indigo-900: #312e81;
    --colors-indigo-950: #1e1b4b;
    --colors-blue-50: #eff6ff;
    --colors-blue-100: #dbeafe;
    --colors-blue-200: #bfdbfe;
    --colors-blue-300: #93c5fd;
    --colors-blue-400: #60a5fa;
    --colors-blue-500: #3b82f6;
    --colors-blue-600: #2563eb;
    --colors-blue-700: #1d4ed8;
    --colors-blue-800: #1e40af;
    --colors-blue-900: #1e3a8a;
    --colors-blue-950: #172554;
    --colors-sky-50: #f0f9ff;
    --colors-sky-100: #e0f2fe;
    --colors-sky-200: #bae6fd;
    --colors-sky-300: #7dd3fc;
    --colors-sky-400: #38bdf8;
    --colors-sky-500: #0ea5e9;
    --colors-sky-600: #0284c7;
    --colors-sky-700: #0369a1;
    --colors-sky-800: #075985;
    --colors-sky-900: #0c4a6e;
    --colors-sky-950: #082f49;
    --colors-cyan-50: #ecfeff;
    --colors-cyan-100: #cffafe;
    --colors-cyan-200: #a5f3fc;
    --colors-cyan-300: #67e8f9;
    --colors-cyan-400: #22d3ee;
    --colors-cyan-500: #06b6d4;
    --colors-cyan-600: #0891b2;
    --colors-cyan-700: #0e7490;
    --colors-cyan-800: #155e75;
    --colors-cyan-900: #164e63;
    --colors-cyan-950: #083344;
    --colors-teal-50: #f0fdfa;
    --colors-teal-100: #ccfbf1;
    --colors-teal-200: #99f6e4;
    --colors-teal-300: #5eead4;
    --colors-teal-400: #2dd4bf;
    --colors-teal-500: #14b8a6;
    --colors-teal-600: #0d9488;
    --colors-teal-700: #0f766e;
    --colors-teal-800: #115e59;
    --colors-teal-900: #134e4a;
    --colors-teal-950: #042f2e;
    --colors-emerald-50: #ecfdf5;
    --colors-emerald-100: #d1fae5;
    --colors-emerald-200: #a7f3d0;
    --colors-emerald-300: #6ee7b7;
    --colors-emerald-400: #34d399;
    --colors-emerald-500: #10b981;
    --colors-emerald-600: #059669;
    --colors-emerald-700: #047857;
    --colors-emerald-800: #065f46;
    --colors-emerald-900: #064e3b;
    --colors-emerald-950: #022c22;
    --colors-green-50: #f0fdf4;
    --colors-green-100: #dcfce7;
    --colors-green-200: #bbf7d0;
    --colors-green-300: #86efac;
    --colors-green-400: #4ade80;
    --colors-green-500: #22c55e;
    --colors-green-600: #16a34a;
    --colors-green-700: #15803d;
    --colors-green-800: #166534;
    --colors-green-900: #14532d;
    --colors-green-950: #052e16;
    --colors-lime-50: #f7fee7;
    --colors-lime-100: #ecfccb;
    --colors-lime-200: #d9f99d;
    --colors-lime-300: #bef264;
    --colors-lime-400: #a3e635;
    --colors-lime-500: #84cc16;
    --colors-lime-600: #65a30d;
    --colors-lime-700: #4d7c0f;
    --colors-lime-800: #3f6212;
    --colors-lime-900: #365314;
    --colors-lime-950: #1a2e05;
    --colors-yellow-50: #fefce8;
    --colors-yellow-100: #fef9c3;
    --colors-yellow-200: #fef08a;
    --colors-yellow-300: #fde047;
    --colors-yellow-400: #facc15;
    --colors-yellow-500: #eab308;
    --colors-yellow-600: #ca8a04;
    --colors-yellow-700: #a16207;
    --colors-yellow-800: #854d0e;
    --colors-yellow-900: #713f12;
    --colors-yellow-950: #422006;
    --colors-amber-50: #fffbeb;
    --colors-amber-100: #fef3c7;
    --colors-amber-200: #fde68a;
    --colors-amber-300: #fcd34d;
    --colors-amber-400: #fbbf24;
    --colors-amber-500: #f59e0b;
    --colors-amber-600: #d97706;
    --colors-amber-700: #b45309;
    --colors-amber-800: #92400e;
    --colors-amber-900: #78350f;
    --colors-amber-950: #451a03;
    --colors-orange-50: #fff7ed;
    --colors-orange-100: #ffedd5;
    --colors-orange-200: #fed7aa;
    --colors-orange-300: #fdba74;
    --colors-orange-400: #fb923c;
    --colors-orange-500: #f97316;
    --colors-orange-600: #ea580c;
    --colors-orange-700: #c2410c;
    --colors-orange-800: #9a3412;
    --colors-orange-900: #7c2d12;
    --colors-orange-950: #431407;
    --colors-red-50: #fef2f2;
    --colors-red-100: #fee2e2;
    --colors-red-200: #fecaca;
    --colors-red-300: #fca5a5;
    --colors-red-400: #f87171;
    --colors-red-500: #ef4444;
    --colors-red-600: #dc2626;
    --colors-red-700: #b91c1c;
    --colors-red-800: #991b1b;
    --colors-red-900: #7f1d1d;
    --colors-red-950: #450a0a;
    --colors-neutral-50: #fafafa;
    --colors-neutral-100: #f5f5f5;
    --colors-neutral-200: #e5e5e5;
    --colors-neutral-300: #d4d4d4;
    --colors-neutral-400: #a3a3a3;
    --colors-neutral-500: #737373;
    --colors-neutral-600: #525252;
    --colors-neutral-700: #404040;
    --colors-neutral-800: #262626;
    --colors-neutral-900: #171717;
    --colors-neutral-950: #0a0a0a;
    --colors-stone-50: #fafaf9;
    --colors-stone-100: #f5f5f4;
    --colors-stone-200: #e7e5e4;
    --colors-stone-300: #d6d3d1;
    --colors-stone-400: #a8a29e;
    --colors-stone-500: #78716c;
    --colors-stone-600: #57534e;
    --colors-stone-700: #44403c;
    --colors-stone-800: #292524;
    --colors-stone-900: #1c1917;
    --colors-stone-950: #0c0a09;
    --colors-zinc-50: #fafafa;
    --colors-zinc-100: #f4f4f5;
    --colors-zinc-200: #e4e4e7;
    --colors-zinc-300: #d4d4d8;
    --colors-zinc-400: #a1a1aa;
    --colors-zinc-500: #71717a;
    --colors-zinc-600: #52525b;
    --colors-zinc-700: #3f3f46;
    --colors-zinc-800: #27272a;
    --colors-zinc-900: #18181b;
    --colors-zinc-950: #09090b;
    --colors-gray-50: #f9fafb;
    --colors-gray-100: #f3f4f6;
    --colors-gray-200: #e5e7eb;
    --colors-gray-300: #d1d5db;
    --colors-gray-400: #9ca3af;
    --colors-gray-500: #6b7280;
    --colors-gray-600: #4b5563;
    --colors-gray-700: #374151;
    --colors-gray-800: #1f2937;
    --colors-gray-900: #111827;
    --colors-gray-950: #030712;
    --colors-slate-50: #f8fafc;
    --colors-slate-100: #f1f5f9;
    --colors-slate-200: #e2e8f0;
    --colors-slate-300: #cbd5e1;
    --colors-slate-400: #94a3b8;
    --colors-slate-500: #64748b;
    --colors-slate-600: #475569;
    --colors-slate-700: #334155;
    --colors-slate-800: #1e293b;
    --colors-slate-900: #0f172a;
    --colors-slate-950: #020617;
    --colors-black-100: black;
    --colors-black: #000;
    --colors-custom-gray-100: #a9a9a9;
    --colors-dark: #081820;
    --colors-sprite-motion-gb-50: #081820;
    --colors-sprite-motion-gb-51: #346856;
    --colors-sprite-motion-gb-52: #88c070;
    --colors-sprite-motion-gb-53: #e0f8d0;
    --fonts-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --fonts-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --fonts-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --fonts-sprite-motion: mrpixel, monospace;
    --fonts-comic: hey-comic, monospace;
    --breakpoints-sm: 640px;
    --breakpoints-md: 768px;
    --breakpoints-lg: 1024px;
    --breakpoints-xl: 1280px;
    --breakpoints-2xl: 1536px;
}

  @keyframes spin {
    to {
      transform: rotate(360deg);
}
}

  @keyframes ping {
    75%,100% {
      transform: scale(2);
      opacity: 0;
}
}

  @keyframes bounce {
    0%,100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8,0,1,1);
}

    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0,0,0.2,1);
}
}

  @keyframes blink {
    to {
      visibility: hidden;
}
}

  @keyframes pulse {
    50% {
      opacity: 0.5;
}

    0% {
      transform: scale(0.5);
}

    100% {
      transform: scale(1.5);
}
}
}

@layer utilities{
  .d_grid {
    display: grid;
}

  .gap_10px {
    gap: 10px;
}

  .pos_relative {
    position: relative;
}

  .max-w_8xl {
    max-width: var(--sizes-8xl);
}

  .mx_auto {
    margin-inline: auto;
}

  .px_4 {
    padding-inline: var(--spacing-4);
}

  .w_700 {
    width: 700px;
}

  .h_600 {
    height: 600px;
}

  .w_400 {
    width: 400px;
}

  .w_1820 {
    width: 1820px;
}

  .h_1011\.1111111111111 {
    height: 1011.1111111111111px;
}

  .w_1000 {
    width: 1000px;
}

  .h_562\.5 {
    height: 562.5px;
}

  .w_100 {
    width: 100px;
}

  .h_100 {
    height: 100px;
}

  .d_flex {
    display: flex;
}

  .flex_0_0_auto {
    flex: 0 0 auto;
}

  .rounded_9999px {
    border-radius: 9999px;
}

  .h_5 {
    height: var(--sizes-5);
}

  .w_5 {
    width: var(--sizes-5);
}

  .w_150 {
    width: 150px;
}

  .h_200 {
    height: 200px;
}

  .translate-x_75 {
    --translate-x: 75;
}

  .translate-y_100 {
    --translate-y: 100;
}

  .w_51 {
    width: 51px;
}

  .h_127 {
    height: 127px;
}

  .w_70 {
    width: 70px;
}

  .h_108 {
    height: 108px;
}

  .w_512 {
    width: 512px;
}

  .h_256 {
    height: 256px;
}

  .w_256 {
    width: 256px;
}

  .w_217 {
    width: 217px;
}

  .h_226 {
    height: 226px;
}

  .h_256200 {
    height: 256200px;
}

  .w_169 {
    width: 169px;
}

  .h_164 {
    height: 164px;
}

  .w_332 {
    width: 332px;
}

  .h_376 {
    height: 376px;
}

  .h_312 {
    height: 312px;
}

  .w_312 {
    width: 312px;
}

  .w_92 {
    width: 92px;
}

  .h_85 {
    height: 85px;
}

  .h_406 {
    height: 406px;
}

  .direction_left {
    direction: left;
}

  .direction_right {
    direction: right;
}

  .direction_down {
    direction: down;
}

  .text_white {
    color: var(--colors-white);
}

  .z_2 {
    z-index: 2;
}

  .pos_absolute {
    position: absolute;
}

  .d_inline-block {
    display: inline-block;
}

  .appearance_none {
    appearance: none;
    -webkit-appearance: none;
}

  .m_0 {
    margin: var(--spacing-0);
}

  .p_0 {
    padding: var(--spacing-0);
}

  .text_inherit {
    color: inherit;
}

  .text-decor_none {
    text-decoration: none;
}

  .cursor_pointer {
    cursor: pointer;
}

  .ring_none {
    outline: var(--borders-none);
}

  .animation_blink_1s_steps\(5\,_start\)_infinite {
    animation: blink 1s steps(5, start) infinite;
}

  .w_\[100\%\] {
    width: 100%;
}

  .h_\[7em\] {
    height: 7em;
}

  .h_640 {
    height: 640px;
}

  .h_512128 {
    height: 512128px;
}

  .w_25rem {
    width: 25rem;
}

  .h_682\.6666666666666 {
    height: 682.6666666666666px;
}

  .h_\[8rem\] {
    height: 8rem;
}

  .h_512 {
    height: 512px;
}

  .w_100\% {
    width: 100%;
}

  .h_175 {
    height: 175px;
}

  .bg_rgba\(0\,0\,0\,\.75\) {
    background: rgba(0,0,0,.75);
}

  .text_\#ffff00 {
    color: #ffff00;
}

  .h_2400 {
    height: 2400px;
}

  .w_\[100vw\] {
    width: 100vw;
}

  .h_1200 {
    height: 1200px;
}

  .direction_out {
    direction: out;
}

  .w_480 {
    width: 480px;
}

  .h_360 {
    height: 360px;
}

  .text_\#000 {
    color: #000;
}

  .w_900 {
    width: 900px;
}

  .h_540 {
    height: 540px;
}

  .w_350 {
    width: 350px;
}

  .h_750 {
    height: 750px;
}

  .h_4rem {
    height: 4rem;
}

  .h_8rem {
    height: 8rem;
}

  .h_100\% {
    height: 100%;
}

  .bg_black {
    background: var(--colors-black);
}

  .w_450px {
    width: 450px;
}

  .text_\#f5eac2 {
    color: #f5eac2;
}

  .text_\#2c1f33 {
    color: #2c1f33;
}

  .w_65\% {
    width: 65%;
}

  .w_60\% {
    width: 60%;
}

  .h_6rem {
    height: 6rem;
}

  .text_\#5cfbf8 {
    color: #5cfbf8;
}

  .text_\#004c3d {
    color: #004c3d;
}

  .text_\#000000 {
    color: #000000;
}

  .text_\#00d4ff {
    color: #00d4ff;
}

  .text_\#1d0f44 {
    color: #1d0f44;
}

  .text_\#d61406 {
    color: #d61406;
}

  .w_682\.6666666666666 {
    width: 682.6666666666666px;
}

  .text_black {
    color: var(--colors-black);
}

  .w_4000 {
    width: 4000px;
}

  .h_4000 {
    height: 4000px;
}

  .h_1666\.6666666666667 {
    height: 1666.6666666666667px;
}

  .w_2000 {
    width: 2000px;
}

  .h_2000 {
    height: 2000px;
}

  .h_716\.8 {
    height: 716.8px;
}

  .h_1325\.1764705882354 {
    height: 1325.1764705882354px;
}

  .h_910\.2222222222222 {
    height: 910.2222222222222px;
}

  .min-h_200 {
    min-height: 200px;
}

  .w_470 {
    width: 470px;
}

  .h_140 {
    height: 140px;
}

  .p-left_225 {
    p-left: 225px;
}

  .p-top_160 {
    p-top: 160px;
}

  .radius_20 {
    radius: 20px;
}

  .font_italic_24px_comic {
    font: italic 24px comic;
}

  .line-height-as-px_28 {
    line-height-as-px: 28px;
}

  .fill-style_\#000 {
    fill-style: #000;
}

  .w_300 {
    width: 300px;
}

  .h_110 {
    height: 110px;
}

  .p-left_250 {
    p-left: 250px;
}

  .p-top_275 {
    p-top: 275px;
}

  .fill-style_\#ffffff {
    fill-style: #ffffff;
}

  .p-top_350 {
    p-top: 350px;
}

  .w_425 {
    width: 425px;
}

  .h_75 {
    height: 75px;
}

  .w_200 {
    width: 200px;
}

  .h_80 {
    height: var(--sizes-80);
}

  .p-left_10 {
    p-left: 10px;
}

  .p-top_300 {
    p-top: 300px;
}

  .radius_1 {
    radius: 1px;
}

  .fill-style_\#000000 {
    fill-style: #000000;
}

  .w_380 {
    width: 380px;
}

  .p-top_400 {
    p-top: 400px;
}

  .h_60 {
    height: var(--sizes-60);
}

  .w_160 {
    width: 160px;
}

  .p-left_290 {
    p-left: 290px;
}

  .p-top_170 {
    p-top: 170px;
}

  .radius_10 {
    radius: 10px;
}

  .direction_in {
    direction: in;
}

  .w_485 {
    width: 485px;
}

  .h_125 {
    height: 125px;
}

  .w_170 {
    width: 170px;
}

  .w_896 {
    width: 896px;
}

  .h_90 {
    height: 90px;
}

  .radius_0 {
    radius: 0;
}

  .w_250 {
    width: 250px;
}

  .font_italic_32px_helvetica\,arial\,sans-serif {
    font: italic 32px helvetica,arial,sans-serif;
}

  .line-height-as-px_32 {
    line-height-as-px: 32px;
}

  .h_50 {
    height: 50px;
}

  .p-left_350 {
    p-left: 350px;
}

  .radius_25 {
    radius: 25px;
}

  .p-left_150 {
    p-left: 150px;
}

  .h_150 {
    height: 150px;
}

  .p-top_250 {
    p-top: 250px;
}

  .w_382 {
    width: 382px;
}

  .fill-style_\#f00 {
    fill-style: #f00;
}

  .font_bold_92px_helvetica\,arial\,sans-serif {
    font: bold 92px helvetica,arial,sans-serif;
}

  .h_115 {
    height: 115px;
}

  .w_325 {
    width: 325px;
}

  .p-left_175 {
    p-left: 175px;
}

  .p-top_175 {
    p-top: 175px;
}

  .font_34px_mrpixel\,monorepo {
    font: 34px mrpixel,monorepo;
}

  .line-height-as-px_38 {
    line-height-as-px: 38px;
}

  .p-top_200 {
    p-top: 200px;
}

  .p-left_275 {
    p-left: 275px;
}

  .p-top_375 {
    p-top: 375px;
}

  .font_bold_92px_mrpixel\,monorepo {
    font: bold 92px mrpixel,monorepo;
}

  .line-height-as-px_128 {
    line-height-as-px: 128px;
}

  .p-top_165 {
    p-top: 165px;
}

  .w_450 {
    width: 450px;
}

  .p-top_90 {
    p-top: 90px;
}

  .w_460 {
    width: 460px;
}

  .font_36px_mrpixel\,monorepo {
    font: 36px mrpixel,monorepo;
}

  .line-height-as-px_40 {
    line-height-as-px: 40px;
}

  .shadow-blur_2 {
    shadow-blur: 2px;
}

  .shadow-offset-x_2 {
    shadow-offset-x: 2px;
}

  .shadow-offset-y_4 {
    shadow-offset-y: 4px;
}

  .w_666\.6666666666666 {
    width: 666.6666666666666px;
}

  .h_400 {
    height: 400px;
}

  .shadow-blur_0 {
    shadow-blur: 0;
}

  .shadow-offset-x_1 {
    shadow-offset-x: 1px;
}

  .shadow-offset-y_1 {
    shadow-offset-y: 1px;
}

  .text_\#fff {
    color: #fff;
}

  .fill-style_\#ff0000 {
    fill-style: #ff0000;
}

  .font_bold_36px_helvetica\,arial\,sans-serif {
    font: bold 36px helvetica,arial,sans-serif;
}

  .shadow-color_\#fff {
    --shadow-color: #fff;
}

  .fill-style_\#fff {
    fill-style: #fff;
}

  .shadow-color_\#ff0000 {
    --shadow-color: #ff0000;
}

  .font_bold_102px_helvetica\,arial\,sans-serif {
    font: bold 102px helvetica,arial,sans-serif;
}

  .line-height-as-px_122\.39999999999999 {
    line-height-as-px: 122.39999999999999px;
}

  .left_500 {
    left: 500px;
}

  .top_200 {
    top: 200px;
}

  .top_100 {
    top: 100px;
}

  .left_50 {
    left: 50px;
}

  .top_75 {
    top: 75px;
}

  .top_750 {
    top: 750px;
}

  .left_600 {
    left: 600px;
}

  .left_1300 {
    left: 1300px;
}

  .items_center {
    align-items: center;
}

  .justify_center {
    justify-content: center;
}

  .bg_\#cecece {
    background-color: #cecece;
}

  .bg_black {
    background-color: var(--colors-black);
}

  .border-w_0 {
    border-width: 0;
}

  .bg_inherit {
    background-color: inherit;
}

  .font_inherit {
    font-family: inherit;
}

  .fw_normal {
    font-weight: var(--font-weights-normal);
}

  .fs_inherit {
    font-size: inherit;
}

  .bottom_\[0px\] {
    bottom: 0px;
}

  .fs_1\.5rem {
    font-size: 1.5rem;
}

  .bg_\#4F4126 {
    background-color: #4F4126;
}

  .font_helvetica\,_arial\,_sans-serif {
    font-family: helvetica, arial, sans-serif;
}

  .pl_0\.5rem {
    padding-left: 0.5rem;
}

  .pb_0\.5rem {
    padding-bottom: 0.5rem;
}

  .left_0 {
    left: var(--spacing-0);
}

  .bottom_1rem {
    bottom: 1rem;
}

  .top_2rem {
    top: 2rem;
}

  .left_1rem {
    left: 1rem;
}

  .top_10rem {
    top: 10rem;
}

  .right_1rem {
    right: 1rem;
}

  .bottom_0 {
    bottom: var(--spacing-0);
}

  .bg_\#000 {
    background-color: #000;
}

  .ml_\[-40vw\] {
    margin-left: -40vw;
}

  .mr_\[-40vw\] {
    margin-right: -40vw;
}

  .left_-10 {
    left: calc(var(--spacing-10) * -1);
}

  .top_40 {
    top: var(--spacing-40);
}

  .top_475 {
    top: 475px;
}

  .top_425 {
    top: 425px;
}

  .left_-5 {
    left: calc(var(--spacing-5) * -1);
}

  .top_205 {
    top: 205px;
}

  .left_435 {
    left: 435px;
}

  .top_105 {
    top: 105px;
}

  .top_23 {
    top: 23px;
}

  .bg_\#CBF23D {
    background-color: #CBF23D;
}

  .bg_\#fff {
    background-color: #fff;
}

  .top_0 {
    top: var(--spacing-0);
}

  .fs_98 {
    font-size: 98px;
}

  .border_\#000 {
    border-color: #000;
}

  .bottom_5rem {
    bottom: 5rem;
}

  .bottom_4rem {
    bottom: 4rem;
}

  .bg_gb\.50 {
    background-color: gb.50;
}

  .bg_\#2c1f33 {
    background-color: #2c1f33;
}

  .top_14rem\! {
    top: 14rem !important;
}

  .bg_\#081820 {
    background-color: #081820;
}

  .top_35\% {
    top: 35%;
}

  .bg_\#004c3d {
    background-color: #004c3d;
}

  .bg_\#ffff02 {
    background-color: #ffff02;
}

  .bg_\#00d4ff {
    background-color: #00d4ff;
}

  .bg_\#1d0f44 {
    background-color: #1d0f44;
}

  .bg_\#0004ff {
    background-color: #0004ff;
}

  .bg_\#fec28c {
    background-color: #fec28c;
}

  .bg_\#162a27 {
    background-color: #162a27;
}

  .bg_\#9afebf {
    background-color: #9afebf;
}

  .bg_\#265b29 {
    background-color: #265b29;
}

  .bg_\#34001a {
    background-color: #34001a;
}

  .bg_\#073823 {
    background-color: #073823;
}

  .bg_\#FFF44D {
    background-color: #FFF44D;
}

  .bg_\#265D80 {
    background-color: #265D80;
}

  .bg_\#5C4E4E {
    background-color: #5C4E4E;
}

  .bg_\#3F1E3F {
    background-color: #3F1E3F;
}

  .bg_\#7F54AA {
    background-color: #7F54AA;
}

  .bg_\#462C40 {
    background-color: #462C40;
}

  .bg_\#FF0A73 {
    background-color: #FF0A73;
}

  .bg_\#203A30 {
    background-color: #203A30;
}

  .bg_\#A07F7E {
    background-color: #A07F7E;
}

  .bg_\#8B3488 {
    background-color: #8B3488;
}

  .bg_\#707D73 {
    background-color: #707D73;
}

  .bg_\#0816A6 {
    background-color: #0816A6;
}

  .bg_\#0C00FA {
    background-color: #0C00FA;
}

  .bg_\#262E80 {
    background-color: #262E80;
}

  .bg_\#FF0F0F {
    background-color: #FF0F0F;
}

  .bg_\#566B5F {
    background-color: #566B5F;
}

  .bg_\#5b8c70 {
    background-color: #5b8c70;
}

  .bg_\#FF69B4 {
    background-color: #FF69B4;
}

  .bg_\#004b8d {
    background-color: #004b8d;
}

  .left_100 {
    left: 100px;
}

  .top_850 {
    top: 850px;
}

  .left_160 {
    left: 160px;
}

  .top_166\.66666666666669 {
    top: 166.66666666666669px;
}

  .left_10\.24 {
    left: 10.24px;
}

  .top_250 {
    top: 250px;
}

  .left_95 {
    left: 95px;
}

  .left_10 {
    left: var(--spacing-10);
}

  .top_50 {
    top: 50px;
}

  .top_375 {
    top: 375px;
}

  .top_300 {
    top: 300px;
}

  .bg_\#0D0D0D {
    background-color: #0D0D0D;
}

  .left_25 {
    left: 25px;
}

  .top_400 {
    top: 400px;
}

  .left_300 {
    left: 300px;
}

  .top_120 {
    top: 120px;
}

  .top_175 {
    top: 175px;
}

  .left_260 {
    left: 260px;
}

  .top_350 {
    top: 350px;
}

  .left_430\.08 {
    left: 430.08px;
}

  .top_256 {
    top: 256px;
}

  .left_5 {
    left: var(--spacing-5);
}

  .top_10 {
    top: var(--spacing-10);
}

  .left_200 {
    left: 200px;
}

  .top_25 {
    top: 25px;
}

  .left_250 {
    left: 250px;
}

  .top_125 {
    top: 125px;
}

  .left_125 {
    left: 125px;
}

  .left_3 {
    left: var(--spacing-3);
}

  .top_3 {
    top: var(--spacing-3);
}

  .left_20 {
    left: var(--spacing-20);
}

  .left_115 {
    left: 115px;
}

  .left_150 {
    left: 150px;
}

  .top_450 {
    top: 450px;
}

  .top_-20 {
    top: calc(var(--spacing-20) * -1);
}

  .top_325 {
    top: 325px;
}

  .top_280 {
    top: 280px;
}

  .bg_\#ff0000 {
    background-color: #ff0000;
}

  .left_375 {
    left: 375px;
}

  .left_120 {
    left: 120px;
}

  .top_290 {
    top: 290px;
}

  .left_400 {
    left: 400px;
}

  .left_40 {
    left: var(--spacing-40);
}

  .left_90 {
    left: 90px;
}

  .left_350 {
    left: 350px;
}

  .bg_yellow {
    background-color: yellow;
}

  .bg_\#FFFB96 {
    background-color: #FFFB96;
}

  .bg_\#FF71CE {
    background-color: #FF71CE;
}

  .bg_\#01CDFE {
    background-color: #01CDFE;
}

  .bg_\#39AA59 {
    background-color: #39AA59;
}

  .bg_\#354333 {
    background-color: #354333;
}

  .bg_\#004250 {
    background-color: #004250;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:text_white > div,.\[\&_\>_div\,_\&_\>_h1\]\:text_white > h1,.\[\&_\>_div\]\:text_white > div {
    color: var(--colors-white);
}

  .\[\&_\>_h1\]\:m_0 > h1 {
    margin: var(--spacing-0);
}

  .\[\&_\>_h1\]\:p_0 > h1 {
    padding: var(--spacing-0);
}

  .\[\&_\>_h2\]\:m_0 > h2 {
    margin: var(--spacing-0);
}

  .\[\&_\>_h2\]\:p_0 > h2 {
    padding: var(--spacing-0);
}

  .\[\&_\>_div\:first-child\]\:text-transform_uppercase > div:first-child {
    text-transform: uppercase;
}

  .\[\&_\>_div\:nth-child\(3\)\]\:animation_blink_1s_steps\(5\,_start\)_infinite > div:nth-child(3) {
    animation: blink 1s steps(5, start) infinite;
}

  .\[\&_\>_div\:nth-child\(3\)\]\:pos_absolute > div:nth-child(3) {
    position: absolute;
}

  .\[\&_\>_div\:nth-child\(3\)\]\:text_red > div:nth-child(3) {
    color: red;
}

  .\[\&_\>_div\:nth-child\(3\)\]\:text-align_center > div:nth-child(3) {
    text-align: center;
}

  .\[\&_\>_div\:last-child\]\:text-transform_uppercase > div:last-child {
    text-transform: uppercase;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:text_\#ffff00 > div,.\[\&_\>_div\,_\&_\>_h1\]\:text_\#ffff00 > h1 {
    color: #ffff00;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:text_\#000 > div,.\[\&_\>_div\,_\&_\>_h1\]\:text_\#000 > h1 {
    color: #000;
}

  .\[\&_div\]\:border_none div {
    border: var(--borders-none);
}

  .\[\&_div\]\:bg_black div {
    background: var(--colors-black);
}

  .\[\&_div\,_\&_h1\]\:text_white div,.\[\&_div\,_\&_h1\]\:text_white h1 {
    color: var(--colors-white);
}

  .\[\&_\>_div\,_\&_\>_h1\]\:text_\#5cfbf8 > div,.\[\&_\>_div\,_\&_\>_h1\]\:text_\#5cfbf8 > h1 {
    color: #5cfbf8;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:text_\#004c3d > div,.\[\&_\>_div\,_\&_\>_h1\]\:text_\#004c3d > h1 {
    color: #004c3d;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:text_\#000000 > div,.\[\&_\>_div\,_\&_\>_h1\]\:text_\#000000 > h1 {
    color: #000000;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:text_\#00d4ff > div,.\[\&_\>_div\,_\&_\>_h1\]\:text_\#00d4ff > h1 {
    color: #00d4ff;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:text_\#1d0f44 > div,.\[\&_\>_div\,_\&_\>_h1\]\:text_\#1d0f44 > h1 {
    color: #1d0f44;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:text_\#d61406 > div,.\[\&_\>_div\,_\&_\>_h1\]\:text_\#d61406 > h1 {
    color: #d61406;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:text_black > div,.\[\&_\>_div\,_\&_\>_h1\]\:text_black > h1 {
    color: var(--colors-black);
}

  .\[\&_\>_div\,_\&_\>_h1\]\:p_0\.5rem > div,.\[\&_\>_div\,_\&_\>_h1\]\:p_0\.5rem > h1 {
    padding: 0.5rem;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:w_12rem > div,.\[\&_\>_div\,_\&_\>_h1\]\:w_12rem > h1 {
    width: 12rem;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:text_\#fff > div,.\[\&_\>_div\,_\&_\>_h1\]\:text_\#fff > h1 {
    color: #fff;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_black > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_black > h1 {
    background-color: var(--colors-black);
}

  .\[\&_\>_div\,_\&_\>_h1\]\:border_white > div,.\[\&_\>_div\,_\&_\>_h1\]\:border_white > h1 {
    border-color: var(--colors-white);
}

  .\[\&_\>_div\]\:bg_black > div {
    background-color: var(--colors-black);
}

  .\[\&_\>_div\]\:border_white > div {
    border-color: var(--colors-white);
}

  .\[\&_\>_div\]\:bg_\#4F4126 > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#4F4126 > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#4F4126 > h1 {
    background-color: #4F4126;
}

  .\[\&_\>_h1\]\:leading_1\.2 > h1 {
    line-height: 1.2;
}

  .\[\&_\>_h1\]\:font_inherit > h1 {
    font-family: inherit;
}

  .\[\&_\>_h1\]\:fs_5rem > h1 {
    font-size: 5rem;
}

  .\[\&_\>_h1\]\:fs_3rem > h1 {
    font-size: 3rem;
}

  .\[\&_\>_h2\]\:fs_2rem > h2,.\[\&_\>_div\:first-child\]\:fs_2rem > div:first-child {
    font-size: 2rem;
}

  .\[\&_\>_div\:nth-child\(2\)\]\:fs_3rem > div:nth-child(2) {
    font-size: 3rem;
}

  .\[\&_\>_div\:nth-child\(3\)\]\:top_-4rem > div:nth-child(3) {
    top: -4rem;
}

  .\[\&_\>_div\:nth-child\(3\)\]\:left_2\.5rem > div:nth-child(3) {
    left: 2.5rem;
}

  .\[\&_\>_div\:nth-child\(3\)\]\:fs_13rem > div:nth-child(3) {
    font-size: 13rem;
}

  .\[\&_\>_div\:nth-child\(3\)\]\:fw_lighter > div:nth-child(3) {
    font-weight: lighter;
}

  .\[\&_\>_div\:nth-child\(3\)\]\:leading_1 > div:nth-child(3) {
    line-height: 1;
}

  .\[\&_\>_div\:first-child\]\:fs_3rem > div:first-child {
    font-size: 3rem;
}

  .\[\&_\>_div\:last-child\]\:fs_4rem > div:last-child {
    font-size: 4rem;
}

  .\[\&_\>_div\:first-child\]\:font-style_oblique > div:first-child {
    font-style: oblique;
}

  .\[\&_\>_div\:last-child\]\:fs_3rem > div:last-child {
    font-size: 3rem;
}

  .\[\&_\>_div\:last-child\]\:font-style_oblique > div:last-child {
    font-style: oblique;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#000 > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#000 > h1 {
    background-color: #000;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:border_\#ffff00 > div,.\[\&_\>_div\,_\&_\>_h1\]\:border_\#ffff00 > h1 {
    border-color: #ffff00;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#fff > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#fff > h1 {
    background-color: #fff;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:border_\#000 > div,.\[\&_\>_div\,_\&_\>_h1\]\:border_\#000 > h1 {
    border-color: #000;
}

  .\[\&_div\]\:border_black div {
    border-color: var(--colors-black);
}

  .\[\&_div\]\:items_center div {
    align-items: center;
}

  .\[\&_div\]\:fs_32px div {
    font-size: 32px;
}

  .\[\&_\>_div\]\:bg_\#2c1f33 > div {
    background-color: #2c1f33;
}

  .\[\&_\>_div\]\:border_\#f5eac2 > div {
    border-color: #f5eac2;
}

  .\[\&_div\,_\&_h1\]\:bg_black div,.\[\&_div\,_\&_h1\]\:bg_black h1 {
    background-color: var(--colors-black);
}

  .\[\&_div\,_\&_h1\]\:border_white div,.\[\&_div\,_\&_h1\]\:border_white h1 {
    border-color: var(--colors-white);
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#081820 > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#081820 > h1 {
    background-color: #081820;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:border_\#5cfbf8 > div,.\[\&_\>_div\,_\&_\>_h1\]\:border_\#5cfbf8 > h1 {
    border-color: #5cfbf8;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#004c3d > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#004c3d > h1 {
    background-color: #004c3d;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:border_\#004c3d > div,.\[\&_\>_div\,_\&_\>_h1\]\:border_\#004c3d > h1 {
    border-color: #004c3d;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#ffff02 > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#ffff02 > h1 {
    background-color: #ffff02;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:border_\#000000 > div,.\[\&_\>_div\,_\&_\>_h1\]\:border_\#000000 > h1 {
    border-color: #000000;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#00d4ff > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#00d4ff > h1 {
    background-color: #00d4ff;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:border_\#00d4ff > div,.\[\&_\>_div\,_\&_\>_h1\]\:border_\#00d4ff > h1 {
    border-color: #00d4ff;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#1d0f44 > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#1d0f44 > h1 {
    background-color: #1d0f44;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:border_\#1d0f44 > div,.\[\&_\>_div\,_\&_\>_h1\]\:border_\#1d0f44 > h1 {
    border-color: #1d0f44;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#0004ff > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#0004ff > h1 {
    background-color: #0004ff;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:border_\#d61406 > div,.\[\&_\>_div\,_\&_\>_h1\]\:border_\#d61406 > h1 {
    border-color: #d61406;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#fec28c > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#fec28c > h1 {
    background-color: #fec28c;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#162a27 > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#162a27 > h1 {
    background-color: #162a27;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#9afebf > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#9afebf > h1 {
    background-color: #9afebf;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#265b29 > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#265b29 > h1 {
    background-color: #265b29;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#34001a > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#34001a > h1 {
    background-color: #34001a;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#073823 > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#073823 > h1 {
    background-color: #073823;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#FFF44D > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#FFF44D > h1 {
    background-color: #FFF44D;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#265D80 > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#265D80 > h1 {
    background-color: #265D80;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#5C4E4E > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#5C4E4E > h1 {
    background-color: #5C4E4E;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#3F1E3F > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#3F1E3F > h1 {
    background-color: #3F1E3F;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#7F54AA > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#7F54AA > h1 {
    background-color: #7F54AA;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#462C40 > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#462C40 > h1 {
    background-color: #462C40;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#FF0A73 > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#FF0A73 > h1 {
    background-color: #FF0A73;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#203A30 > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#203A30 > h1 {
    background-color: #203A30;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#A07F7E > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#A07F7E > h1 {
    background-color: #A07F7E;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#8B3488 > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#8B3488 > h1 {
    background-color: #8B3488;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#707D73 > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#707D73 > h1 {
    background-color: #707D73;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#0816A6 > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#0816A6 > h1 {
    background-color: #0816A6;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#0C00FA > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#0C00FA > h1 {
    background-color: #0C00FA;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#262E80 > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#262E80 > h1 {
    background-color: #262E80;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#FF0F0F > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#FF0F0F > h1 {
    background-color: #FF0F0F;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#566B5F > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#566B5F > h1 {
    background-color: #566B5F;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#5b8c70 > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#5b8c70 > h1 {
    background-color: #5b8c70;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#FF69B4 > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#FF69B4 > h1 {
    background-color: #FF69B4;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#004b8d > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#004b8d > h1 {
    background-color: #004b8d;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:border_black > div,.\[\&_\>_div\,_\&_\>_h1\]\:border_black > h1 {
    border-color: var(--colors-black);
}

  .\[\&_\>_div\]\:fs_28px > div {
    font-size: 28px;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:fs_40px > div,.\[\&_\>_div\,_\&_\>_h1\]\:fs_40px > h1 {
    font-size: 40px;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#0D0D0D > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#0D0D0D > h1 {
    background-color: #0D0D0D;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#ff0000 > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#ff0000 > h1 {
    background-color: #ff0000;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:border_\#fff > div,.\[\&_\>_div\,_\&_\>_h1\]\:border_\#fff > h1 {
    border-color: #fff;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_yellow > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_yellow > h1 {
    background-color: yellow;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#FFFB96 > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#FFFB96 > h1 {
    background-color: #FFFB96;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#FF71CE > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#FF71CE > h1 {
    background-color: #FF71CE;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#01CDFE > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#01CDFE > h1 {
    background-color: #01CDFE;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#39AA59 > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#39AA59 > h1 {
    background-color: #39AA59;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#354333 > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#354333 > h1 {
    background-color: #354333;
}

  .\[\&_\>_div\,_\&_\>_h1\]\:bg_\#004250 > div,.\[\&_\>_div\,_\&_\>_h1\]\:bg_\#004250 > h1 {
    background-color: #004250;
}

  .focus\:animation_pulse_200ms:is(:focus, [data-focus]) {
    animation: pulse 200ms;
}

  @media screen and (min-width: 40rem) {
    .sm\:text_\#ffeaf9 {
      color: #ffeaf9;
}
    .sm\:text_\#d61406 {
      color: #d61406;
}
    .sm\:text_\#f44e38 {
      color: #f44e38;
}
    .sm\:bg_\#ffeaf9 {
      background-color: #ffeaf9;
}
    .sm\:bg_\#d61406 {
      background-color: #d61406;
}
    .sm\:bg_\#f44e38 {
      background-color: #f44e38;
}
    .\[\&_\>_div\,_\&_\>_h1\]\:sm\:text_\#ffeaf9 > div,.\[\&_\>_div\,_\&_\>_h1\]\:sm\:text_\#ffeaf9 > h1 {
      color: #ffeaf9;
}
    .\[\&_\>_div\,_\&_\>_h1\]\:sm\:text_\#d61406 > div,.\[\&_\>_div\,_\&_\>_h1\]\:sm\:text_\#d61406 > h1 {
      color: #d61406;
}
    .\[\&_\>_div\,_\&_\>_h1\]\:sm\:text_\#f44e38 > div,.\[\&_\>_div\,_\&_\>_h1\]\:sm\:text_\#f44e38 > h1 {
      color: #f44e38;
}
    .\[\&_\>_div\,_\&_\>_h1\]\:sm\:bg_\#ffeaf9 > div,.\[\&_\>_div\,_\&_\>_h1\]\:sm\:bg_\#ffeaf9 > h1 {
      background-color: #ffeaf9;
}
    .\[\&_\>_div\,_\&_\>_h1\]\:sm\:border_\#ffeaf9 > div,.\[\&_\>_div\,_\&_\>_h1\]\:sm\:border_\#ffeaf9 > h1 {
      border-color: #ffeaf9;
}
    .\[\&_\>_div\,_\&_\>_h1\]\:sm\:bg_\#d61406 > div,.\[\&_\>_div\,_\&_\>_h1\]\:sm\:bg_\#d61406 > h1 {
      background-color: #d61406;
}
    .\[\&_\>_div\,_\&_\>_h1\]\:sm\:border_\#d61406 > div,.\[\&_\>_div\,_\&_\>_h1\]\:sm\:border_\#d61406 > h1 {
      border-color: #d61406;
}
    .\[\&_\>_div\,_\&_\>_h1\]\:sm\:bg_\#f44e38 > div,.\[\&_\>_div\,_\&_\>_h1\]\:sm\:bg_\#f44e38 > h1 {
      background-color: #f44e38;
}
    .\[\&_\>_div\,_\&_\>_h1\]\:sm\:border_\#f44e38 > div,.\[\&_\>_div\,_\&_\>_h1\]\:sm\:border_\#f44e38 > h1 {
      border-color: #f44e38;
}
}

  @media screen and (min-width: 48rem) {
    .md\:px_6 {
      padding-inline: var(--spacing-6);
}
}

  @media screen and (min-width: 64rem) {
    .lg\:px_8 {
      padding-inline: var(--spacing-8);
}
}
}