@layer reset, base, tokens, recipes, utilities;

@layer base{
  :root {
    --made-with-panda: '🐼';
}

  *,::before,::after,::backdrop {
    --blur: /*-*/ /*-*/;
    --brightness: /*-*/ /*-*/;
    --contrast: /*-*/ /*-*/;
    --grayscale: /*-*/ /*-*/;
    --hue-rotate: /*-*/ /*-*/;
    --invert: /*-*/ /*-*/;
    --saturate: /*-*/ /*-*/;
    --sepia: /*-*/ /*-*/;
    --drop-shadow: /*-*/ /*-*/;
    --backdrop-blur: /*-*/ /*-*/;
    --backdrop-brightness: /*-*/ /*-*/;
    --backdrop-contrast: /*-*/ /*-*/;
    --backdrop-grayscale: /*-*/ /*-*/;
    --backdrop-hue-rotate: /*-*/ /*-*/;
    --backdrop-invert: /*-*/ /*-*/;
    --backdrop-opacity: /*-*/ /*-*/;
    --backdrop-saturate: /*-*/ /*-*/;
    --backdrop-sepia: /*-*/ /*-*/;
    --gradient-from-position: /*-*/ /*-*/;
    --gradient-to-position: /*-*/ /*-*/;
    --gradient-via-position: /*-*/ /*-*/;
    --scroll-snap-strictness: proximity;
    --border-spacing-x: 0;
    --border-spacing-y: 0;
    --translate-x: 0;
    --translate-y: 0;
    --rotate: 0;
    --rotate-x: 0;
    --rotate-y: 0;
    --skew-x: 0;
    --skew-y: 0;
    --scale-x: 1;
    --scale-y: 1;
}
}

@layer tokens{
  :where(:root, :host) {
    --colors-black-100: black;
    --colors-custom-gray-100: #a9a9a9;
    --colors-dark: #081820;
    --colors-sprite-motion-gb-50: #081820;
    --colors-sprite-motion-gb-51: #346856;
    --colors-sprite-motion-gb-52: #88c070;
    --colors-sprite-motion-gb-53: #e0f8d0;
    --fonts-sprite-motion: mrpixel, 'var(--font-mrpixel)', monospace;
}
}

@layer utilities{

  .w_500 {
    width: 500px;
}

  .h_500 {
    height: 500px;
}

  .h_5 {
    height: 5px;
}

  .w_5 {
    width: 5px;
}

  .w_700 {
    width: 700px;
}

  .w_1000 {
    width: 1000px;
}

  .w_2000 {
    width: 2000px;
}

  .w_25 {
    width: 25px;
}

  .h_25 {
    height: 25px;
}

  .w_256 {
    width: 256px;
}

  .h_256 {
    height: 256px;
}

  .w_100 {
    width: 100px;
}

  .h_20 {
    height: 20px;
}

  .w_250 {
    width: 250px;
}

  .h_250 {
    height: 250px;
}

  .pos_relative {
    position: relative;
}

  .d_flex {
    display: flex;
}

  .overflow_hidden {
    overflow: hidden;
}

  .box_border-box {
    box-sizing: border-box;
}

  .w_\[100\%\] {
    width: 100%;
}

  .h_\[100\%\] {
    height: 100%;
}

  .pos_absolute {
    position: absolute;
}

  .pointer-events_none {
    pointer-events: none;
}

  .obj-fit_cover {
    object-fit: cover;
}

  .rounded_\[5rem\] {
    border-radius: 5rem;
}

  .w_\[5rem\] {
    width: 5rem;
}

  .h_\[5rem\] {
    height: 5rem;
}

  .bg_\[white\] {
    background: white;
}

  .select_none {
    -webkit-user-select: none;
    user-select: none;
}

  .cursor_pointer {
    cursor: pointer;
}

  .z_2 {
    z-index: 2;
}

  .type_spring {
    type: spring;
}

  .stiffness_300 {
    stiffness: 300px;
}

  .damping_30 {
    damping: 30px;
}

  .duration_0\.2 {
    duration: 0.2px;
}

  .w_512 {
    width: 512px;
}

  .h_512 {
    height: 512px;
}

  .rotate_45 {
    rotate: 45px;
}

  .rotate_3 {
    rotate: 3px;
}

  .rotate_-3 {
    rotate: -3px;
}

  .rotate_30 {
    rotate: 30px;
}

  .radius_50 {
    radius: 50px;
}

  .p-left_300 {
    p-left: 300px;
}

  .p-top_50 {
    p-top: 50px;
}

  .h_100 {
    height: 100px;
}

  .w_200 {
    width: 200px;
}

  .radius_0 {
    radius: 0;
}

  .h_682\.6666666666666 {
    height: 682.6666666666666px;
}

  .w_\[200px\] {
    width: 200px;
}

  .h_\[150px\] {
    height: 150px;
}

  .m_\[0\] {
    margin: 0;
}

  .p_\[0\] {
    padding: 0;
}

  .cursor_url\(\'\/images\/cursor-transparent\.png\'\)\,_auto {
    cursor: url('/images/cursor-transparent.png'), auto;
}

  .d_block {
    display: block;
}

  .overflow_visible {
    overflow: visible;
}

  .min-w_\[5em\] {
    min-width: 5em;
}

  .min-h_\[5em\] {
    min-height: 5em;
}

  .radius_5 {
    radius: 5px;
}

  .h_\[100px\] {
    height: 100px;
}

  .w_\[500px\] {
    width: 500px;
}

  .h_\[20rem\] {
    height: 20rem;
}

  .h_\[6rem\] {
    height: 6rem;
}

  .w_\[30rem\] {
    width: 30rem;
}

  .h_\[8rem\] {
    height: 8rem;
}

  .text_sprite-motion-gb\.53 {
    color: var(--colors-sprite-motion-gb-53);
}

  .p_\[0\.25em\] {
    padding: 0.25em;
}

  .rounded_\[0\.5em\] {
    border-radius: 0.5em;
}

  .border_\[0\.25em_solid_white\] {
    border: 0.25em solid white;
}

  .bg_sprite-motion-gb\.50 {
    background: var(--colors-sprite-motion-gb-50);
}

  .z_\[1\] {
    z-index: 1;
}

  .text-transform_uppercase {
    text-transform: uppercase;
}

  .text-align_right {
    text-align: right;
}

  .justify_center {
    justify-content: center;
}

  .items_center {
    align-items: center;
}

  .flex_column {
    flex-direction: column;
}

  .justify_flex-end {
    justify-content: flex-end;
}

  .top_\[calc\(50\%_-_1\.5rem\)\] {
    top: calc(50% - 1.5rem);
}

  .fs_\[3rem\] {
    font-size: 3rem;
}

  .fw_bold {
    font-weight: bold;
}

  .left_\[10px\] {
    left: 10px;
}

  .right_\[10px\] {
    right: 10px;
}

  .left_10 {
    left: 10px;
}

  .top_10 {
    top: 10px;
}

  .left_250 {
    left: 250px;
}

  .top_250 {
    top: 250px;
}

  .left_50 {
    left: 50px;
}

  .top_50 {
    top: 50px;
}

  .bottom_\[7rem\] {
    bottom: 7rem;
}

  .bottom_\[0px\] {
    bottom: 0px;
}

  .list-type_none {
    list-style-type: none;
}

  .top_\[3em\] {
    top: 3em;
}

  .left_\[2em\] {
    left: 2em;
}

  .bottom_\[5rem\] {
    bottom: 5rem;
}

  .bg_sprite-motion-gb\.50 {
    background-color: var(--colors-sprite-motion-gb-50);
}

  .font_sprite-motion {
    font-family: var(--fonts-sprite-motion);
}

  .fs_\[1em\] {
    font-size: 1em;
}

  .leading_\[1\] {
    line-height: 1;
}

  .border_sprite-motion-gb\.53 {
    border-color: var(--colors-sprite-motion-gb-53);
}

  .pt_\[1em\] {
    padding-top: 1em;
}

  .pb_\[0\.5em\] {
    padding-bottom: 0.5em;
}

  .pl_\[1rem\] {
    padding-left: 1rem;
}

  .pr_\[1rem\] {
    padding-right: 1rem;
}

  .top_\[0\] {
    top: 0;
}

  .fs_\[inherit\] {
    font-size: inherit;
}

  .column-count_2 {
    column-count: 2;
}

  .items_start {
    align-items: start;
}

  .justify_start {
    justify-content: start;
}

  .before\:text_\[inherit\]::before {
    color: inherit;
}

  .before\:pos_absolute::before {
    position: absolute;
}

  .before\:content_\"▶\"::before {
    content: "▶";
}

  .before\:left_\[-1em\]::before {
    left: -1em;
}

  .before\:leading_\[1\]::before {
    line-height: 1;
}
}