@layer utilities {

  .text_right {
    text-align: right
    }

  .pos_relative {
    position: relative
    }

  .text_sprite-motion-gb\.53 {
    color: var(--colors-sprite-motion-gb-53)
    }

  .font_sprite-motion {
    font-family: var(--fonts-sprite-motion)
    }

  .p_\[0\.25em\] {
    padding: [0.25em]
    }

  .fs_\[1em\] {
    font-size: [1em]
    }

  .leading_\[1\] {
    line-height: [1]
    }

  .d_flex {
    display: flex
    }

  .justify_center {
    justify-content: center
    }

  .items_center {
    align-items: center
    }

  .flex_column {
    flex-direction: column
    }

  .overflow_hidden {
    overflow: hidden
    }

  .box_border-box {
    box-sizing: border-box
    }

  .rounded_\[0\.5em\] {
    border-radius: [0.5em]
    }

  .border_\[0\.25em_solid_white\] {
    border: [0.25em solid white]
    }

  .border_sprite-motion-gb\.53 {
    border-color: var(--colors-sprite-motion-gb-53)
    }

  .w_\[100\%\] {
    width: [100%]
    }

  .h_\[100\%\] {
    height: [100%]
    }

  .pt_\[1em\] {
    padding-top: [1em]
    }

  .pb_\[0\.5em\] {
    padding-bottom: [0.5em]
    }

  .pl_\[1rem\] {
    padding-left: [1rem]
    }

  .pr_\[1rem\] {
    padding-right: [1rem]
    }

  .bg_sprite-motion-gb\.50 {
    background-color: var(--colors-sprite-motion-gb-50)
    }

  .pos_absolute {
    position: absolute
    }

  .bg_sprite-motion-gb\.50 {
    background: var(--colors-sprite-motion-gb-50)
    }

  .p_\[0\] {
    padding: [0]
    }

  .m_\[0\] {
    margin: [0]
    }

  .top_\[0\] {
    top: [0]
    }

  .z_\[1\] {
    z-index: [1]
    }

  .fs_\[inherit\] {
    font-size: [inherit]
    }

  .text_uppercase {
    text-transform: uppercase
    }

  .column-count_2 {
    column-count: 2
    }

  .items_start {
    align-items: start
    }

  .justify_start {
    justify-content: start
    }
}