@layer utilities {

  .w_1000 {
    width: 1000px
    }

  .h_5 {
    height: 5px
    }

  .w_256 {
    width: 256px
    }

  .h_256 {
    height: 256px
    }

  .w_250 {
    width: 250px
    }

  .h_250 {
    height: 250px
    }
}