@layer utilities {

  .w_\[200px\] {
    width: [200px]
    }

  .h_\[100px\] {
    height: [100px]
    }

  .h_\[20rem\] {
    height: [20rem]
    }

  .w_\[500px\] {
    width: [500px]
    }

  .h_\[6rem\] {
    height: [6rem]
    }

  .w_\[30rem\] {
    width: [30rem]
    }

  .h_\[8rem\] {
    height: [8rem]
    }

  .z_2 {
    z-index: 2
    }

  .pos_absolute {
    position: absolute
    }

  .bottom_\[5rem\] {
    bottom: [5rem]
    }
}