@layer utilities {

  .w_\[200px\] {
    width: [200px]
    }

  .h_\[150px\] {
    height: [150px]
    }

  .bottom_\[7rem\] {
    bottom: [7rem]
    }

  .pos_absolute {
    position: absolute
    }

  .bottom_\[0px\] {
    bottom: [0px]
    }

  .w_\[100\%\] {
    width: [100%]
    }

  .h_\[5rem\] {
    height: [5rem]
    }
}