@layer utilities {

  .w_250 {
    width: 250px
    }

  .h_250 {
    height: 250px
    }

  .left_10 {
    left: 10px
    }

  .top_10 {
    top: 10px
    }

  .left_50 {
    left: 50px
    }

  .top_50 {
    top: 50px
    }
}