@layer utilities {
  .list_none {
    list-style-type: none
    }

  .m_\[0\] {
    margin: [0]
    }

  .p_\[0\] {
    padding: [0]
    }
    .before\:content_\"▶\"::before {
      content: "▶"
        }
    .before\:text_\[inherit\]::before {
      color: [inherit]
        }
    .before\:pos_absolute::before {
      position: absolute
        }
    .before\:left_\[-1em\]::before {
      left: [-1em]
        }
    .before\:leading_\[1\]::before {
      line-height: [1]
        }

  .cursor_url\(\'\/images\/cursor-transparent\.png\'\)\,_auto {
    cursor: url('/images/cursor-transparent.png'), auto
    }

  .pos_relative {
    position: relative
    }

  .d_block {
    display: block
    }

  .overflow_visible {
    overflow: visible
    }

  .top_\[3em\] {
    top: [3em]
    }

  .left_\[2em\] {
    left: [2em]
    }

  .min-w_\[5em\] {
    min-width: [5em]
    }

  .min-h_\[5em\] {
    min-height: [5em]
    }

  .pos_absolute {
    position: absolute
    }

  .w_\[100\%\] {
    width: [100%]
    }

  .h_\[100\%\] {
    height: [100%]
    }
}