@layer utilities {
  .w_500 {
    width: 500px
    }

  .w_700 {
    width: 700px
    }

  .h_500 {
    height: 500px
    }

  .w_1000 {
    width: 1000px
    }

  .w_2000 {
    width: 2000px
    }

  .h_5 {
    height: 5px
    }

  .w_5 {
    width: 5px
    }

  .w_25 {
    width: 25px
    }

  .h_25 {
    height: 25px
    }

  .w_256 {
    width: 256px
    }

  .h_256 {
    height: 256px
    }

  .w_100 {
    width: 100px
    }

  .h_20 {
    height: 20px
    }
}