@layer utilities {
  .pos_relative {
    position: relative
    }

  .box_border-box {
    box-sizing: border-box
    }

  .overflow_hidden {
    overflow: hidden
    }

  .pointer-events_none {
    pointer-events: none
    }

  .object_cover {
    object-fit: cover
    }

  .w_\[100\%\] {
    width: [100%]
    }

  .h_\[100\%\] {
    height: [100%]
    }

  .flex_column {
    flex-direction: column
    }

  .justify_flex-end {
    justify-content: flex-end
    }

  .top_\[calc\(50\%_-_1\.5rem\)\] {
    top: [calc(50% - 1.5rem)]
    }

  .rounded_\[5rem\] {
    border-radius: [5rem]
    }

  .w_\[5rem\] {
    width: [5rem]
    }

  .h_\[5rem\] {
    height: [5rem]
    }

  .fs_\[3rem\] {
    font-size: [3rem]
    }

  .pos_absolute {
    position: absolute
    }

  .bg_\[white\] {
    background: [white]
    }

  .d_flex {
    display: flex
    }

  .justify_center {
    justify-content: center
    }

  .items_center {
    align-items: center
    }

  .select_none {
    -webkit-user-select: none;
    user-select: none
    }

  .cursor_pointer {
    cursor: pointer
    }

  .font_bold {
    font-weight: bold
    }

  .z_2 {
    z-index: 2
    }

  .left_\[10px\] {
    left: [10px]
    }

  .right_\[10px\] {
    right: [10px]
    }

  .translateX\:transition\:type_spring {
    type: spring
    }

  .translateX\:transition\:stiffness_300 {
    stiffness: 300px
    }

  .translateX\:transition\:damping_30 {
    damping: 30px
    }

  .opacity\:transition\:duration_0\.2 {
    duration: 0.2px
    }
}